{
    order reverse_proxy before rewrite
}

:80 {
    # 1. API Proxy
    handle_path /neon_v1* {
        reverse_proxy localhost:3000
    }

    # 2. Static Files
    root * /app/dist
    file_server

    # 3. SPA Fallback
    handle {
        try_files {path} /index.html
    }
}
